.catalog-list {
    background-color: var(--color-zodiac);
    padding: 57px 0 104px 0;

    @include mobile {
        padding: 35px 0 64px 0;
    }

    &__title {
        margin-bottom: 31px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: flex-start;
        column-gap: 24px;

        @include notebook {
            column-gap: 0px;
        }
    }

    &__sidebar {
        grid-column: 3 span;
        max-width: 296px;
        position: relative;
        z-index: 2;
        background-color: var(--color-zodiac);
        border-bottom: 1px solid #3B4C64;

        @include notebook {
            max-width: 100%;
            grid-column: 12 span;
            margin-bottom: 25px;
            height: 53px;
            overflow: hidden;

            &.active {
                overflow: initial;
            }
        }

        @include mobile {
            height: 48px;
        }
    }

    &__products {
        grid-column: 9 span;

        @include notebook {
            grid-column: 12 span;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__more {
        width: 100%;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        margin-top: 30px;
        padding: 14px 0;

        span {
            background: url("../img/svg/More.svg") left center no-repeat;
            background-size: 24px 24px;
            padding-left: 32px;
        }
    }
}

.catalog__sidebar {

    &-arrow {
        display: none;

        @include notebook {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            width: 54px;
            height: 100%;
            border: 1px solid #3B4C64;
            z-index: 10;
            background-color: var(--color-zodiac);

            &.active {
                &::before {
                    transform: rotateX(180deg);
                }
            }

            &::before {
                content: "";
                width: 24px;
                height: 16px;
                background: url("../img/svg/Arrow-cat.svg") center / contain no-repeat;
                margin: auto;
                transition: all 0.2s ease-in-out;
            }
        }
    }

    &-list {
        background-color: var(--color-zodiac);
    }
    
    &-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--color-white);
        display: block;
        padding: 19.2px 24px;
        transition: all 0.3s ease-in-out;
        border: 1px solid #3B4C64;

        @include notebook {
            padding: 15.5px 24px;
            br {
                display: none;
            }
        }

        @include mobile {
            font-size: 12px;
            padding: 16px 20px;
        }

        &:hover {
            background-color: var(--color-flush);

            span {
                color: var(--color-white);
            }
        }

        span {
            color: var(--color-flush);
            transition: all 0.3s ease-in-out;
        }
    }
}

