.categories {
    background-color: var(--color-zodiac);
    padding-top: 57px;
    padding-bottom: 104px;

    @include mobile {
        padding: 25px 0 64px 0;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        border: 1px solid #3B4C64;
        width: 25%;
        padding: 32px 32px 29px 32px;
        transition: all 0.3s ease-in-out;

        @include notebook {
            width: 50%;
            padding: 24px;
        }

        @include mobile {
            padding: 16px 8px 8px;
        }

        &:nth-child(n + 5) {
            padding-bottom: 60px;

            @include mobile {
                padding-bottom: 14px;
            }
        }

        &:hover {
            background-color: var(--color-flush);

            .categories__name span {
                color: var(--color-white);
            }
        }
    }

    &__img {
        img {
            max-width: 100%;

            @include notebook {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__name {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--color-white);
        margin-top: 35px;

        span {
            color: var(--color-flush);
            transition: all 0.3s ease-in-out;
        }

        @include mobile {
            font-size: 15px;
            margin-top: 20px;
            
            br {
                display: none;
            }
        }
    }
}

