.contacts {
    background: #182841;
    padding: 48px 0;

    &__title {
        text-align: center;
        margin-bottom: 33px;
    }

    &__form {
        max-width: 848px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            display: block;
        }

        &-field {
            width: 49%;
            display: block;

            &--long {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            &:first-child {
                @include tablet {
                    margin-bottom: 20px;
                }
            }
        }

        &-input,
        &-textarea {
            padding-left: 24px;
            width: 100%;
            display: block;
            background-color: rgba(#fff, 0.1);
            backdrop-filter: blur(40px);
            border-radius: 2px;
            color: var(--color-white);

            @include mobile {
                padding-left: 16px;
            }

            &::placeholder {
                font-weight: 300;
                font-size: 20px;
                color: #9EA5AF;

                @include mobile {
                    font-size: 16px;
                }
            }
        }

        &-input {
            padding-top: 5px;
            height: 62px;

            @include mobile {
                height: 44px;
            }
        }

        &-textarea {
            width: 100%;
            display: block;
            margin-top: 24px;
            height: 124px;
            resize: none;
            padding-top: 22px;

            @include mobile {
                padding-top: 16px;
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 23px;

            @include tablet {
                display: block;
            }
        }

        &-btn {
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            padding: 14px 24px;
            display: block;
            margin-right: 54px;

            @include tablet {
                width: 100%;
                margin-bottom: 20px;
            }

            span {
                background: url("../img/svg/Send.svg") left center no-repeat;
                background-size: 24px 24px;
                padding-left: 33px;
            }
        }
    }
}


