.header {
    background-color: var(--color-pearl);
    
    &--bg {
        background-color: var(--color-zodiac);
        .header__top-left,
        .header__top-right {
            padding: 0;
        }
    }

    &__top {
        @include flex-all-sb;
        padding: 0 calc(50% - 640px);
        border-bottom: 1px solid rgba(#fff, 0.15);
        position: relative;
        z-index: 10;

        @media (max-width: 1310px) {
            padding: 0px calc(50% - 620px);
        }

        @include minidesk {
            display: none;
        }

        &-left {
            @include flex-v-center;
            padding: 14px 0 10px;
        }

        &-right {
            @include flex-v-center;
            padding: 14px 0 10px;
            position: relative;
        }
    }

    &-left {
        &__item {
            font-weight: 400;
            font-size: 14px;
            line-height: 89.06%;
            color: var(--color-gray);
            font-style: normal;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &__connect {
        display: flex;

        &-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 89.06%;
            color: var(--color-white);
            

            &:not(:last-child) {
                margin-right: 4px;
            }

            &--email {
                font-weight: 300;
                font-size: 14px;
            }
        }   

        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__body {
        padding: 26px calc(50% - 640px);
        @include flex-all-sb;
        border-bottom: 1px solid rgba(#fff, 0.15);
        position: relative;
        transition: all 0.3s ease-in-out;
        z-index: 10;

        

        @media (max-width: 1310px) {
            padding: 26px calc(50% - 620px);
        }

        @include minidesk {
            padding: 10px 15px; 
        }
    }

    &__logo {
        @include flex-v-center;
        font-weight: 700;
        font-size: 48.175px;
        line-height: 58px;
        color: var(--color-white);

        @include mobile {
            font-size: 37px;
        }

        img {
            margin-right: 17px;
        }
    }

    &__text {
        max-width: 100px;
        font-weight: 500;
        font-size: 11.4416px;
        line-height: 110%;
        letter-spacing: -0.01em;
        margin-left: 10px;
        color: var(--color-gray);

        @include minidesk {
            display: none;
        }
    }

    &__menu {
        @include minidesk {
            position: fixed;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            background-color: var(--color-zodiac);
            z-index: 20;
            padding: 30px;
            transform: translateX(-100%);
            transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            overflow-y: auto;

            &.active {
                transform: translateX(0%);
            }

            @include tablet {
                width: 45%;
            }

            @include mobile {
                width: 80%;
            }

            @media (max-width: 330px) {
                width: 100%;
            }
        }
    }

    &__list {
        @include flex-v-center;

        @include minidesk {
            display: block;
        }

        li {
            &:not(:last-child) {
                margin-right: 37px;
            }

            @include minidesk {
                margin-bottom: 25px;
            }

            @include mobile  {
                margin-bottom: 40px;
            }
        }
    }

    &__link {
        font-weight: 500;
        font-size: 15px;
        line-height: 89.06%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-white);
        padding: 42px 0;
        border-bottom: 5px solid transparent;
        transition: all 0.3s ease-in-out;

        @include minidesk {
            padding: 6px 0;
            border-width: 3px;
        }

        &:hover {
            border-color: var(--color-flush);
            color: var(--color-flush);
        }
        
        &--catalog {
            padding-left: 28px;
            background: url("../img/svg/Catalog.svg") left center no-repeat;
        }

        &--price {
            padding-left: 27px;
            background: url("../img/svg/Price.svg") left center no-repeat;
        }

        &--search {
            padding-left: 27px;
            background: url("../img/svg/Search.svg") left center no-repeat;
        }
    }


    &__cart {
        display: flex;
        align-items: center;
        background-color: var(--color-flush);
        color: var(--color-white);
        font-weight: 500;
        font-size: 15px;
        line-height: 89.06%;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 8px 20px;
        margin-left: 33px;
        transition: all 0.3s ease-in-out;

        svg {
            fill: none;
            stroke-width: 2px;
            stroke: var(--color-white);
            width: 24px;
            height: 24px;
            object-fit: cover;
            display: block;
            margin-right: 3px;
        }

        @include minidesk {
            
        }
    }

    &__mobile {
        display: none;

        @include minidesk {
            display: flex;
            align-items: center;
        }
    }

    &__icon {
        margin-right: 16px;
    }

    
}

.burger { 

    
        width: 20px;
        height: 15px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 1000;

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: var(--color-flush);
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }

            &:nth-child(4) {
                top: 15px;
            }

    
        }

        &.active {
            span {
                &:nth-child(1) {
                    top: 10px;
                    width: 0%;
                    left: 50%;
                }
    
                &:nth-child(2) {
                    transform: rotate(45deg);
                }
    
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
    
                &:nth-child(4) {
                    top: 13px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    
} 
