.intro {
    background-color: #051126;
    padding: 35px 0 40px 0;

    @include minidesk {
        padding-top: 120px;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: -350px;
        right: 250px;
        width: 730px;
        height: 600px;
        background: #FF7A00;
        filter: blur(280px);
        z-index: 1;
    }

    &__body {
        display: flex;
        align-items: center;
        flex: 1;
        position: relative;
        z-index: 2;
        
        @include tablet {
            flex-direction: column;
        }
    }

    &__content {
        width: 44%;

        @include tablet {
            order: 2;
            width: 100%;
        }
        
    }

    &__title {
        font-weight: 500;
        font-size: 32px;
        color: var(--color-white);
        line-height: 120%;
        margin-bottom: 16px;

        @include tablet {
            font-size: 27px;
            br {
                display: none;
            }
        }

        @include mobile {
            font-size: 20px;
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 16px;
        color: var(--color-white);
        line-height: 150%;
    }

    &__footer {
        display: flex;
        margin-top: 35px;

        @media (max-width: 350px) {
            display: block;
        }
    }

    &__btn {
        padding: 12px 24px;
        font-size: 18px;

        @media (max-width: 350px) {
            padding: 9px 0;
            +.btn {
                margin-top: 20px;
            }
        }

        @include tablet {
            width: 100%;
            text-align: center;
        }
        
        &:first-child {
            margin-right: 16px;
        }
    }

    &__img {
        margin-left: 84px;
        width: 55%;
        transform: translate(-7px, 23px);

        @include notebook {
            transform: none;
        }

        @include tablet {
            margin-left: 0;
            width: 100%;
        }
        
        img {
            max-width: 100%;
            height: auto;

            @include tablet {
                width: 100% !important;
                object-fit: cover;
            }
        }
    }
}

