.news-list {
    background-color: var(--color-zodiac);
    padding: 57px 0 104px 0;

    &__title {
        margin-bottom: 30px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @include notebook {
            grid-template-columns: repeat(6, 1fr);
        }
    }


}