.vacancies {
    background-color: var(--color-zodiac);
    padding: 57px 0 100px 0;

    &__title {
        margin-bottom: 30px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include minidesk {
            grid-template-columns: repeat(3, 1fr);
            gap: 0px;
        }

        @include notebook {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        max-width: 320px;
        border: 1px solid #3B4C64;
        padding: 24px 32px 33px;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;

        @include minidesk {
            max-width: 100%;
        }

        @include notebook {
            padding: 16px;
        }
    }

    &__pos {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-white);
        margin-bottom: 16px;
    }

    &__desc {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: var(--color-gray);
        margin-bottom: 15px;
    }

    &__salary {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-flush);
        flex: 1 1 auto;
        margin-bottom: 50px;

        @include tablet {
            flex: none;
        }
    }

    &__more {
        padding: 9px 18px;
    }
}
