.workers {
   padding: 103px 0;
   background-color: var(--color-zodiac);

    &__title {
        margin-bottom: 40px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;

        @include tablet {
            justify-content: center;
        }
    }

    &__item {
        border: 1px solid #3B4C64;
        padding: 32px 30px 30px 32px;

        @include mobile {
            padding: 16px;
        }
    }

    &__photo {
        max-width: 100%;
    }

    &__content {
        color: var(--color-white);
    }

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        margin-top: 24px;
    }

    &__contacts {
        margin-top: 16px;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-white);
        padding-left: 22px;

        &:not(:last-child) {
            margin-bottom: 9px;
        }

        &--phone {
            background: url("../img/svg/Phone.svg") left center no-repeat;
            background-size: 16px 16px;
        }

        &--mail {
            background: url("../img/svg/Mail.svg") left center no-repeat;
            background-size: 16px 16px;
        }
    }
}

