<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">О производстве</a>
            </li>
        </ul>
    </div>
</div>
<section class="about-blog">
    <div class="container">
        <h2 class="about-blog__title page-title">О производстве</h2>
        <div class="about-blog__wrapper">
            <div class="about-blog__body swiper" data-mobile="false">
                <div class="swiper-wrapper">
                    <article class="about-blog__item swiper-slide">
                        <a href="#" class="about-blog__img">
                            <img src="img/about-blog/image-1.jpg" alt="Image 1">
                        </a>
                        <a href="#" class="about-blog__caption">Производство типовых железобетонных изделий</a>
                        <a href="#popup_1" class="about-blog__btn btn btn--fill">Подробнее</a>
                    </article>
                    <article class="about-blog__item swiper-slide">
                        <a href="#" class="about-blog__img">
                            <img src="img/about-blog/image-2.jpg" alt="Image 2">
                        </a>
                        <a href="#" class="about-blog__caption">Доставка <br> продукции <br> Ж/Д  и авто<br>транспортом</a>
                        <a href="#" class="about-blog__btn btn btn--fill">Подробнее</a>
                    </article>
                    <article class="about-blog__item swiper-slide">
                        <a href="#" class="about-blog__img">
                            <img src="img/about-blog/image-3.jpg" alt="Image 3">
                        </a>
                        <a href="#" class="about-blog__caption">Производство изделий по индивидуальным чертежам</a>
                        <a href="#" class="about-blog__btn btn btn--fill">Подробнее</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>