<section class="about-content">
    <div class="container">
        <h2 class="about-content__title section-title-two">Производство</h2>
        <div class="about__stat stat">
            <div class="stat__item">
                <div class="stat__value">4000</div>
                <div class="stat__name">м<sup>3</sup> площадь <br> производства</div>
            </div>
            <div class="stat__item">
                <div class="stat__value">700+</div>
                <div class="stat__name">количество <br> клиентов</div>
            </div>
            <div class="stat__item">
                <div class="stat__value">200</div>
                <div class="stat__name">м<sup>3</sup> бетона <br> в день</div>
            </div>
        </div>
        <div class="about-content__body about">
            <div class="about__box">
                <div class="about__item about__item-bg" style="max-width: 640px;">
                    <p class="about__desc">
                        Наш завод ЖБИ основан в 2015 году. Это современное производственное предприятие, выпускающее продукцию для строительных, дорожных, коммунальных компаний, а так же для частного строительства. Стремясь повысить качество выпускаемой продукции и увеличить объемы производства, в 2018 году было закуплено новое современное оборудование. На <br> сегодняшний день мы являемся одним из <br> ведущих производителей железобетонных утяжелителей для трубопроводов на территории Российской федерации.
                    </p>
                </div>
                <div class="about__item">
                    <figure class="about__img">
                        <img src="img/about-content/image-1.jpg" alt="" class="about__img">
                        <figcaption class="about__text">Склад продукции</figcaption>
                    </figure>
                </div>
            </div>
            <div class="about__box">
                <div class="about__item">
                    <figure class="about__img">
                        <img src="img/about-block/image-2.jpg" alt="" class="about__img">
                        <figcaption class="about__text align-left">Продукция готовая к транспортировке </figcaption>
                    </figure>
                </div>
                <div class="about__item about__item-bg" style="max-width: 516px;">
                    <p class="about__desc">
                        В настоящее время предприятие обладает возможностью выпускать более 200 м³ железобетонных изделий в день, соответственно более 4200 м³ в месяц.
                        <br>
                        <br>
                        Мы постоянно наращиваем объемы производства, что обеспечивает лучшие отпускные цены для наших клиентов.
                    </p>
                </div>
            </div>
            <div class="about__box">
                <div class="about__item about__item-bg" style="max-width: 640px;">
                    <p class="about__desc">
                        Железобетонные изделия производимые на <br> нашем предприятии, обладают маркой  бетона — от В 7,5 до В 35. Арматурные изделия, цемент и <br> инертные материалы закупаются у проверенных поставщиков, чья продукция исключительно сертифицирована. Качество сырья и расходных материалов для производства железобетонных изделий проверяется в аккредитованной лаборатории. Строго соблюдаются производственные процессы на всех этапах производства. На все готовые конструкции выдается паспорт качества, подтверждающий их соответствие техническому регламенту ГОСТ.
                    </p>
                </div>
                <div class="about__item">
                    <figure class="about__img">
                        <img src="img/about-content/image-3.jpg" alt="" class="about__img">
                        <figcaption class="about__text">Производственный цех</figcaption>
                    </figure>
                </div>
            </div>
            <div class="about__box">
                <div class="about__item" style="max-width: 429px;">
                    <p class="about__desc">
                        <h3 class="about__caption">ООО «ЗДСК» гарантирует</h3>
                        <ul class="about__list">
                            <li>Прочность <br> изделий</li>
                            <li>Высокую степень <br> качества</li>
                            <li>Устойчивость <br> к статическим <br> и динамическим нагрузкам</li>
                        </ul>
                    </p>
                </div>
                <div class="about__item about__item-bg">
                    <p class="about__desc">
                        Большой выбор товарных позиций предоставляет возможность приобрести продукцию для разных областей строительства: железных дорог, метро, автомобильных дорог и автомагистралей, для гражданского и промышленного строительства. Также изготавливаем изделия по индивидуальным чертежам заказчика.
                        В собственности предприятия имеются: автотехника, автокраны, вилочные и фронтальные погрузчики. Это позволяет осуществлять круглосуточное изготовление и доставку железобетонных изделий нашим клиентам. Предлагаем несколько вариантов доставки изделий с завода: автотранспортом, по железной дороге, водным транспортом и комбинированными способами доставки.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>