<section class="about-block">
    <div class="container">
        <h2 class="about-block__title section-title">О производстве</h2>
        <div class="about-block__body about">
            <div class="about__box">
                <div class="about__item about__item-bg about__item--big">
                    <p class="about__desc">
                        Наш завод ЖБИ основан в 2015 году <br> В самом начале мы научились продавать и <br> организовывать логистику для потребителей железобетонных изделий. Затем мы пошли дальше. Что бы ни утонуть в современном, быстроменяющемся рынке ЖБИ изделий, <br> где вытесняются посредники государственными структурами и пожеланиями потребителей, коллективом ООО «ЗДСК» принято решение, об организации производства ЖБИ изделий.
                    </p>
                </div>
                <div class="about__item">
                    <figure class="about__img">
                        <img src="img/about-block/image 1.jpg" alt="" class="about__img">
                        <figcaption class="about__text">Склад продукции</figcaption>
                    </figure>
                </div>
            </div>
            <div class="about__box">
                <div class="about__item">
                    <figure class="about__img">
                        <img src="img/about-block/image-2.jpg" alt="" class="about__img">
                        <figcaption class="about__text align-left">Продукция готовая к транспортировке</figcaption>
                    </figure>
                </div>
                <div class="about__item about__item-bg about__item--sm">
                    <p class="about__desc">
                        Производственные площади разместились в пригороде Екатеринбурга, где на <br> сегодняшний день и продолжается производственный процесс. 
                        <br>
                        <br>
                        Компания четко ориентируется на <br> рынке, ассортимент продукции расширяется, при этом качество продукции только растёт.
                    </p>
                </div>
            </div>
            <div class="about__box">
                <div class="about__item about__item-bg about__item--big"">
                    <p class="about__desc">
                        Все это отражается на ценовой политике и <br> позволяет поддерживать ее на достаточно низком уровне. В 2018 году было принято решение о закупке нового оборудования EDIL STAMPI, KFPK PP, HANGCHA. Что позволило нашему заводу производить железобетонные изделия в больших объемах. Новейшие технологические разработки позволяют выпускать продукцию высочайшего качества, которая полностью соответствует как российским, так и зарубежным стандартам.
                    </p>
                </div>
                <div class="about__item">
                    <figure class="about__img">
                        <img src="img/about-block/image 3.jpg" alt="" class="about__img">
                        <figcaption class="about__text">Производственный цех</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>