<section class="advantages">
    <div class="container">
        <h2 class="advantages__title section-title">Наши преимущества</h2>
        <div class="advantages__body">
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Adv-1"></use>
                    </svg>
                </div>
                <div class="advantages__content">
                    <h3 class="advantages__caption">Эффективная <br> ЛОГИСТИКА</h3>
                    <p class="advantages__desc">Готовы организовать поставку ЖБИ на ваши строительные объекты автомобильным или железнодорожным транспортом, для перевозок используем свой автотранспорт, что существенно сокращает стоимость доставки продукции.</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Adv-2"></use>
                    </svg>
                </div>
                <div class="advantages__content">
                    <h3 class="advantages__caption">НАДЁЖНОСТЬ <br> И ОПЫТ</h3>
                    <p class="advantages__desc">Наш завод ЖБИ работает на строительном рынке уже более пяти лет. За это время мы <br> честным трудом заработали свое доброе имя и деловую репутацию, которыми дорожит каждый сотрудник компании. За эти годы наш коллектив накопил ценнейшие знания, которые теперь используются на благо ваших интересов.</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Adv-3"></use>
                    </svg>
                </div>
                <div class="advantages__content">
                    <h3 class="advantages__caption">ГИБКИЕ ФИНАНСОВЫЕ УСЛОВИЯ</h3>
                    <p class="advantages__desc">Мы дорожим каждым клиентом, с <br> пониманием относимся к потребностям и <br> возможностям заказчика при определении условий сотрудничества. Менеджеры компании всегда готовы сделать сотрудничество обоюдовыгодным.</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Adv-4"></use>
                    </svg>
                </div>
                <div class="advantages__content">
                    <h3 class="advantages__caption">КАЧЕСТВО <br> ПРОДУКЦИИ</h3>
                    <p class="advantages__desc">Вся продукция нашего завода ЖБИ строго соответствует требованиям ГОСТ. Мы <br> тщательно отбираем поставщиков сырья для нашего производства. В штате компании работают только опытные специалисты, что обеспечивает профессиональный и <br> внимательный контроль качества продукции на всех этапах производства.</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#Adv-5"></use>
                    </svg>
                </div>
                <div class="advantages__content">
                    <h3 class="advantages__caption">ИНДИВИДУАЛЬНЫЙ <br> ЗАКАЗ</h3>
                    <p class="advantages__desc">Наличие современного оборудования, собственный металлоцех, паровые камеры, цех изготовления бетонной смеси и <br> специалисты. Мы готовы поставить железобетонные изделия любой сложности, возьмемся за изготовление нестандартных изделий по вашим чертежам и проектам.</p>
                </div>
            </div>
        </div>
    </div>
</section>