<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="catalog-main.html" class="breadcrumbs__link">Каталог</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Изделия для инженерных коммуникаций</a>
            </li>
        </ul>
    </div>
</div>
<section class="catalog-list">
    <div class="container">
        <h1 class="catalog-list__title page-title">Каталог</h1>
        <div class="catalog-list__body">
            <aside class="catalog-list__sidebar catalog__sidebar">
                <div class="catalog__sidebar-arrow"></div>
                <div class="catalog__sidebar-list">
                    <a href="#" class="catalog__sidebar-link">
                        Изделия для ОРУ подстанций <br> 35-500 кВ <span>5</span>
                    </a>
                    <a href="#" class="catalog__sidebar-link">
                        Изделия <br> для инженерных коммуникаций <span>12</span>
                    </a>
                    <a href="#" class="catalog__sidebar-link">
                        Изделия для колодцев канализационных <br> сетей <span>8</span>
                    </a>
                    <a href="#" class="catalog__sidebar-link">
                        Изделия для балластировки магистральных трубопроводов <span>18</span>
                    </a>
                    <a href="#" class="catalog__sidebar-link">
                        Укрепления <br> откосов дорог, <br> русел и кюветов <span>9</span>
                    </a>
                    <a href="#" class="catalog__sidebar-link">
                        Камни бетонные и железобетонные бортовые <span>11</span>
                    </a>
                    <a href="#" class="catalog__sidebar-link">
                        Панели резервуаров, <br> лотки <span>5</span>
                    </a>
                </div>
            </aside>
            <div class="catalog-list__products">
                <div class="catalog-list__inner">
                    <div class="catalog__item">
                        <a href="product_1.html" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Лоток <br> Л 20.5 (УБК-2А)</h3>
                            <div class="catalog__desc">Д/Ш/В 3080х2060х580 мм <br> Вес 0,175 т <span>|</span> Объём 0,07 м3</div>
                            <div class="catalog__price">15 200 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Плита <br> П 10.5 (УБК-5)</h3>
                            <div class="catalog__desc">Д/Ш/В 995х495х60 мм <br> Вес 0,07 т <span>|</span> Объём 0,029 м3</div>
                            <div class="catalog__price">27 333 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Кольцо стеновое <br> КС 10.3 / КЦ 10-3</h3>
                            <div class="catalog__desc">Д/Ш/В 1160х1160х290 мм <br> Вес 0,25 т <span>|</span> Объём 0,08 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Лоток <br> Л 20.5 (УБК-2А)</h3>
                            <div class="catalog__desc">Д/Ш/В 3080х2060х580 мм <br> Вес 0,175 т <span>|</span> Объём 0,07 м3</div>
                            <div class="catalog__price">15 200 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Кольцо стеновое <br> КС 10.3 / КЦ 10-3</h3>
                            <div class="catalog__desc">Д/Ш/В 1160х1160х290 мм <br> Вес 0,25 т <span>|</span> Объём 0,08 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Плита <br> П 10.5 (УБК-5)</h3>
                        <div class="catalog__desc">Д/Ш/В 995х495х60 мм <br> Вес 0,07 т <span>|</span> Объём 0,029 м3</div>
                        <div class="catalog__price">27 333 Р/шт</div>
                        <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Лоток <br> Л 20.5 (УБК-2А)</h3>
                            <div class="catalog__desc">Д/Ш/В 3080х2060х580 мм <br> Вес 0,175 т <span>|</span> Объём 0,07 м3</div>
                            <div class="catalog__price">15 200 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Плита <br> П 10.5 (УБК-5)</h3>
                            <div class="catalog__desc">Д/Ш/В 995х495х60 мм <br> Вес 0,07 т <span>|</span> Объём 0,029 м3</div>
                            <div class="catalog__price">27 333 Р/шт</div>
                            <a href="#popup_2" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Кольцо стеновое <br> КС 10.3 / КЦ 10-3</h3>
                            <div class="catalog__desc">Д/Ш/В 1160х1160х290 мм <br> Вес 0,25 т <span>|</span> Объём 0,08 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Лоток <br> Л 20.5 (УБК-2А)</h3>
                            <div class="catalog__desc">Д/Ш/В 3080х2060х580 мм <br> Вес 0,175 т <span>|</span> Объём 0,07 м3</div>
                            <div class="catalog__price">15 200 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Плита <br> П 10.5 (УБК-5)</h3>
                            <div class="catalog__desc">Д/Ш/В 995х495х60 мм <br> Вес 0,07 т <span>|</span> Объём 0,029 м3</div>
                            <div class="catalog__price">27 333 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Кольцо стеновое <br> КС 10.3 / КЦ 10-3</h3>
                            <div class="catalog__desc">Д/Ш/В 1160х1160х290 мм <br> Вес 0,25 т <span>|</span> Объём 0,08 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Лоток <br> Л 20.5 (УБК-2А)</h3>
                            <div class="catalog__desc">Д/Ш/В 3080х2060х580 мм <br> Вес 0,175 т <span>|</span> Объём 0,07 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Плита <br> П 10.5 (УБК-5)</h3>
                            <div class="catalog__desc">Д/Ш/В 995х495х60 мм <br> Вес 0,07 т <span>|</span> Объём 0,029 м3</div>
                            <div class="catalog__price">27 333 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Кольцо стеновое <br> КС 10.3 / КЦ 10-3</h3>
                            <div class="catalog__desc">Д/Ш/В 1160х1160х290 мм <br> Вес 0,25 т <span>|</span> Объём 0,08 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Лоток <br> Л 20.5 (УБК-2А)</h3>
                            <div class="catalog__desc">Д/Ш/В 3080х2060х580 мм <br> Вес 0,175 т <span>|</span> Объём 0,07 м3</div>
                            <div class="catalog__price">15 200 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-2.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Плита <br> П 10.5 (УБК-5)</h3>
                            <div class="catalog__desc">Д/Ш/В 995х495х60 мм <br> Вес 0,07 т <span>|</span> Объём 0,029 м3</div>
                            <div class="catalog__price">27 333 Р/шт</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                    <div class="catalog__item">
                        <a href="#" class="catalog__photo">
                            <img src="img/catalog/Block-1.png" alt="">
                        </a>
                        <h3 class="catalog__caption">Кольцо стеновое <br> КС 10.3 / КЦ 10-3</h3>
                            <div class="catalog__desc">Д/Ш/В 1160х1160х290 мм <br> Вес 0,25 т <span>|</span> Объём 0,08 м3</div>
                            <div class="catalog__price">По запросу</div>
                            <a href="#" class="catalog__btn btn btn--fill">В корзину</a>
                    </div>
                </div>
                <button class="catalog-list__more btn btn--fill" type="button"><span>Показать ещё</span></button>
            </div>
        </div>
    </div>
</section>