<section class="contacts">
    <div class="container">
        <h2 class="contacts__title section-title">Связаться с нами</h2>
        <form action="#" class="contacts__form">
            <label for="#" class="contacts__form-field">
                <input type="text" class="contacts__form-input" placeholder="Имя">
            </label>
            <label for="#" class="contacts__form-field">
                <input type="email" class="contacts__form-input" placeholder="E-mail">
            </label>
            <label for="#" class="contacts__form-field contacts__form-field--long">
                <textarea name="input-text" class="contacts__form-textarea" placeholder="Ваше сообщение"></textarea>
            </label>
            <div class="contacts__form-bottom">
                <button class="contacts__form-btn btn btn--fill" type="submit"><span>Отправить</span></button>
                <label class="custom-checkbox contacts__form-checkbox">
                    <input type="checkbox" class="custom-checkbox__input">
                    <span class="custom-checkbox__text">Я согласен <span>с политикой конфиденциальности и использования запрашиваемых данных</span></span>
                </label>
            </div>
        </form>
    </div>
</section>