<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Контакты</a>
            </li>
        </ul>
    </div>
</div>
<section class="contacts-info">
    <div class="container">
        <h1 class="contacts-info__title page-title">Контакты</h1>
        <div class="contacts-info__body">
            <div class="contacts-info__map">
                <div class="map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/37169/aramil/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;"></a><a href="https://yandex.ru/maps/37169/aramil/house/bazovaya_ulitsa_2a/YkkYfg9jT0UBQFtsfXp4dnpqYw==/?from=tabbar&ll=60.883606%2C56.697697&source=serp_navig&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;"></a><iframe src="https://yandex.ru/map-widget/v1/-/CCUFnUG00D" frameborder="1" width="100%" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
            <div class="contacts-info__content">
                <div class="contacts-info__item">
                    <address class="contacts-info__address">Арамиль Базовая, 2а</address>
                    <hr class="separator">
                </div>
                <div class="contacts-info__item">
                    <div class="contacts-info__caption">Индекс</div>
                    <div class="contacts-info__text">624002</div>
                </div>
                <hr class="separator">
                <div class="contacts-info__item">
                    <div class="contacts-info__caption">Телефоны</div>
                    <a href="tel:+7 922 18-18-126" class="contacts-info__link">+7 922 18-18-126</a>
                    <a href="tel:+7 922 18-18-156" class="contacts-info__link">+7 922 18-18-156</a>
                    <a href="tel:+7 922 20-20-190" class="contacts-info__link">+7 922 20-20-190</a>
                </div>
                <hr class="separator">
                <div class="contacts-info__item">
                    <div class="contacts-info__caption">Email</div>
                    <a href="mailto:ooo.zdsk@bk.ru" class="contacts-info__link">ooo.zdsk@bk.ru</a>
                    <a href="mailto:zdsk87@mail.ru" class="contacts-info__link">zdsk87@mail.ru</a>
                    <a href="mailto:zdsk.pg@yandex.ru" class="contacts-info__link">zdsk.pg@yandex.ru</a>
                </div>
            </div>
        </div>
    </div>
</section>