<section class="delivery">
    <div class="container">
        <h2 class="delivery__title section-title-two">Доставка</h2>
        <div class="delivery__body">
            <div class="delivery__item">
                <div class="delivery__icon">
                    <img src="../img/delivery/icon-1.png" alt="">
                </div>
                <div class="delivery__caption">Авто <br> транспорт</div>
            </div>
            <div class="delivery__item">
                <div class="delivery__icon">
                    <img src="../img/delivery/icon-2.png" alt="">
                </div>
                <div class="delivery__caption">Водный <br> транспорт</div>
            </div>
            <div class="delivery__item">
                <div class="delivery__icon">
                    <img src="../img/delivery/icon-3.png" alt="">
                </div>
                <div class="delivery__caption">Железная <br> дорога</div>
            </div>
            <div class="delivery__item">
                <div class="delivery__icon">
                    <img src="../img/delivery/icon-4.png" alt="">
                </div>
                <div class="delivery__caption">Комбинированная <br> доставка</div>
            </div>
        </div>
    </div>
</section>