<footer class="footer">
    <div class="footer__body">
        <div class="footer__top">
            <a href="#" class="footer__logo">
                <img src="img/svg/Logo.svg" alt="Logotype">
                ЗДСК
                <span class="footer__text">Производство железобетонных конструкций</span>
            </a>
            <form action="#" class="footer__form">
                <div class="footer__form-inner">
                    <input type="text" class="footer__search" placeholder="Поиск">
                    <a href="#" class="footer__search-btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#Search-2"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </div>
        <div class="footer__info">
            <div class="footer__info-left">
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li>
                            <a href="#" class="footer__nav-link footer__nav-link--catalog">Каталог</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link">О производстве</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link">Новости</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link">Закупки</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link footer__nav-link--price">Прайс</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__catalog">
                    <ul class="footer__catalog-col">
                        <li>
                            <a href="#" class="footer__catalog-link">Кольца колодезные</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Лотки теплотрасс</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Лотки кабельные</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Лоток железобетонный ЛК</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Лоток УБК</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Плиты покрытия лотков теплотрасс</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Плиты покрытия коллекторов</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Плиты покрытия кабельных лотков</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Днища колодезные</a>
                        </li>
                    </ul>
                    <ul class="footer__catalog-col">
                        <li>
                            <a href="#" class="footer__catalog-link">Аэродромные плиты</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Вентиляционные блоки</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Доборные балки</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Дорожные плиты</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Дорожные ограждения жби</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Дорожный бордюр</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Фундаменты дорожных знаков</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Железобетонные стойки</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Заборы ЖБИ</a>
                        </li>
                    </ul>
                    <ul class="footer__catalog-col">
                        <li>
                            <a href="#" class="footer__catalog-link">Плиты укрепления откосов</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Прикромочные лотки</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Железобетонные фермы</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Приставки железобетонные</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Ригель железобетонный</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Стойки СКЦ</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Стойки УСЩ</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Телескопические лотки</a>
                        </li>
                        <li>
                            <a href="#" class="footer__catalog-link">Труба железобетонная</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link">О производстве</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link">Новости</a>
                        </li>
                        <li>
                            <a href="#" class="footer__nav-link">Закупки</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__info-right">
                <div class="footer__contacts">
                    <div class="footer__contacts-group">
                        <a href="tel:79222020190" class="footer__contacts-tel">7 922 20-20-190</a>
                        <a href="mailto:zdsk.pg@yandex.ru" class="footer__contacts-email">zdsk.pg@yandex.ru</a>
                    </div>
                    <div class="footer__contacts-group">
                        <a href="tel:79221818158" class="footer__contacts-tel">7 922 18-18-158</a>
                        <a href="mailto:zdsk87@mail.ru" class="footer__contacts-email">zdsk87@mail.ru</a>
                    </div>
                </div>
                <address class="footer__address">Арамиль Базовая, 2а</address>
            </div>
        </div>
        <div class="footer__row">
            <span class="footer__copy">2020, ЗДСК Производство железобетонных конструкций</span>
            <div class="footer__cookie">
                <a href="#" class="footer__cookie-item">Публичная оферта</a>
                <a href="#" class="footer__cookie-item">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__alert">Для сбора информации технического характера мы используем файлы Cookie <br> В том числе, мы обрабатываем Ваш IP-адрес, для определения региона местоположения.</p>
            <div class="footer__dev">
                <img src="img/svg/Dev.svg" alt="">
            </div>
        </div>
    </div>
</footer>
<div class="overlay"></div>