<section class="gallery">
    <div class="container">
        <h2 class="gallery__title section-title">Склад готовой продукции</h2>
        <div class="gallery__images">
            <div class="gallery__images-slider swiper">
                <button class="gallery__images-switch slider-switch gallery__images-switch--prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-Left"></use>
                    </svg>
                </button>
                <button class="gallery__images-switch slider-switch gallery__images-switch--next">
                    <svg>
                        <use xlink:href="img/sprite.svg#Arrow-Right"></use>
                    </svg>
                </button>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/image-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="gallery__images-thumbs" thumbsSlider="">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/gallery/sm-image-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>