<header class="header lock-padding">
    <div class="header__top">
        <div class="header__top-left header-left">
            <address class="header-left__item">Арамиль, Базовая, 2а</address>
            <a href="#" class="header-left__item">ooo.zdsk@bk.ru</a>
            <a href="#" class="header-left__item">7 922 18-18-126</a>
        </div>
        <div class="header__top-right">
            <div class="header__top-connect header__connect">
                <a href="#" class="header__connect-link header__connect-link--num">7 922 20-20-190</a>
                <a href="#" class="header__connect-link header__connect-link--email">zdsk.pg@yandex.ru</a>
            </div>
            <div class="header__top-connect">
                <a href="#" class="header__connect-link header__connect-link--num">7 922 18-18-158</a>
                <a href="#" class="header__connect-link header__connect-link--email">zdsk87@mail.ru</a>
            </div>
        </div>
    </div>
    <div class="header__body">
        <a href="#" class="header__logo">
            <img src="img/svg/Logo.svg" alt="Логотип">
            ЗДСК
            <span class="header__text">Производство железобетонных конструкций</span>
        </a>
        <nav class="header__menu">
            <ul class="header__list">
                <li>
                    <a href="catalog-main.html" class="header__link header__link--catalog"><span>Каталог</span></a>
                </li>
                <li>
                    <a href="about-main.html" class="header__link">О производстве</a>
                </li>
                <li>
                    <a href="news-main.html" class="header__link">Новости</a>
                </li>
                <li>
                    <a href="purchases.html" class="header__link">Закупки</a>
                </li>
                <li>
                    <a href="job.html" class="header__link">Вакансии</a>
                </li>
                <li>
                    <a href="#" class="header__link header__link--price"><span>Прайс</span></a>
                </li>
                <li>
                    <a href="#" class="header__link header__link--search"><span>Поиск</span></a>
                </li>
            </ul>
        </nav>
        <div class="header__mobile">
            <a href="#" class="header__icon header__icon--mobile">
                <img src="img/svg/Mobile.svg" alt="">
            </a>
            <a href="#" class="header__icon header__icon--search">
                <img src="img/svg/Search.svg" alt="">
            </a>
            <a href="#" class="burger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>