<section class="intro">
    <div class="container">
        <div class="intro__body">
            <div class="intro__content">
                <h1 class="intro__title">Производство <br> железобетонных <br> конструкций для <br> промышленных объектов</h1>
                <p class="intro__desc">Компания чётко ориентируется на рынке, ассортимент продукции постоянно расширяется, при этом качество продукции только растет. Все это отражается на ценовой политике и позволяет поддерживать ее на низком уровне</p>
                <div class="intro__footer">
                    <a href="#" class="intro__btn btn btn--fill">Подробнее</a>
                    <a href="#" class="intro__btn btn btn--stroke">Заказать</a>
                </div>
            </div>
            <div class="intro__img">
                <img src="img/intro/bg-image-2.png" alt="">
            </div>
        </div>
    </div>
</section>