<section class="letters">
    <div class="container">
        <h2 class="letters__title section-title-two">Благодарственные письма</h2>
        <div class="letters__body">
            <div class="letters__slider swiper">
                <div class="swiper-wrapper">
                    <div class="letters__slider-item swiper-slide">
                        <img src="img/letters/image-1.jpg" alt="Image 1" class="letters__slider-img">
                        <h3 class="letters__slider-caption">Сертификат СФ114</h3>
                    </div>
                    <div class="letters__slider-item swiper-slide">
                        <img src="img/letters/image-2.jpg" alt="Image 2" class="letters__slider-img">
                        <h3 class="letters__slider-caption">Лицензия 1353-02</h3>
                    </div>
                    <div class="letters__slider-item swiper-slide">
                        <img src="img/letters/image-1.jpg" alt="Image 3" class="letters__slider-img">
                        <h3 class="letters__slider-caption">Сертификат СФ114</h3>
                    </div>
                    <div class="letters__slider-item swiper-slide">
                        <img src="img/letters/image-2.jpg" alt="Image 4" class="letters__slider-img">
                        <h3 class="letters__slider-caption">Лицензия 1353-02</h3>
                    </div>
                </div>
            </div>
            <div class="letters__switches">
                <div class="letters__slider-left">
                    <button class="letters__switch slider-switch letters__switch--prev">
                        <svg>
                            <use xlink:href="img/sprite.svg#Arrow-Left"></use>
                        </svg>
                    </button>
                </div>
                <div class="letters__slider-right">
                    <button class="letters__switch slider-switch letters__switch--next">
                        <svg>
                            <use xlink:href="img/sprite.svg#Arrow-Right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>