<section class="news">
    <div class="container">
        <h2 class="news__title section-title">Новости</h2>
        <div class="news__wrapper">
            <div class="news__body news-articles swiper" data-mobile="false">
                <div class="swiper-wrapper">
                    <article class="news-articles__item swiper-slide">
                        <img src="img/news/image-1.jpg" alt="" class="news-articles__img">
                        <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                        <time class="news-articles__date" datetime="12:00 22-02-22">22 февраля 2022</time>
                        <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
                    </article>
                    <article class="news-articles__item swiper-slide">
                        <img src="img/news/image-2.jpg" alt="" class="news-articles__img">
                        <a href="#" class="news-articles__title">Изделия «ЗДСК» для одного из лучших в <br> России спинальных центров</a>
                        <time class="news-articles__date" datetime="12:00 15-01-22">15 января 2022</time>
                        <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
                    </article>
                    <article class="news-articles__item swiper-slide">
                        <img src="img/news/image-3.jpg" alt="" class="news-articles__img">
                        <a href="#" class="news-articles__title">ЗДСК» изготовила 30-тонные колонны очень сложной  конфигурации</a>
                        <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                        <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
                    </article>
                    <article class="news-articles__item swiper-slide">
                        <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                        <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                        <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                        <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
                    </article>
                </div>
            </div>
        </div>
        <a href="#" class="news__all btn btn--all btn--fill"><span>Все новости</span></a>
    </div>
</section>