<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Новости</a>
            </li>
        </ul>
    </div>
</div>
<section class="news-list">
    <div class="container">
        <h1 class="news-list__title page-title">Новости</h1>
        <div class="news-list__body news-articles">
            <article class="news-articles__item  news-articles__item--big">
                <img src="img/news/image-big-1.jpg" alt="" class="news-articles__img">
                <div class="news-articles__bottom">
                    <div>
                        <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                        <time class="news-articles__date" datetime="12:00 22-02-22">22 февраля 2022</time>
                        <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
                    </div>
                    <p>Железобетонные изделия – это обладающие отличными характеристиками материалы, сочетающие свойства арматуры и высококачественного бетона, востребованные на каждой стадии современного строительства. Армирование бетонных конструкций качественно улучшает показатели их надежности</p>
                </div>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-3.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title"> «ЗДСК» изготовила 30-тонные колонны очень сложной  конфигурации</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="news-post.html" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-2.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Изделия «ЗДСК» для одного из лучших в <br> России спинальных центров</a>
                <time class="news-articles__date" datetime="12:00 15-01-22">15 января 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-3.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title"> «ЗДСК» изготовила 30-тонные колонны очень сложной  конфигурации</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="news-post.html" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-2.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Изделия «ЗДСК» для одного из лучших в <br> России спинальных центров</a>
                <time class="news-articles__date" datetime="12:00 15-01-22">15 января 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item  news-articles__item--big">
                <img src="img/news/image-big-1.jpg" alt="" class="news-articles__img">
                <div class="news-articles__bottom">
                    <div>
                        <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                        <time class="news-articles__date" datetime="12:00 22-02-22">22 февраля 2022</time>
                        <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
                    </div>
                    <p>Железобетонные изделия – это обладающие отличными характеристиками материалы, сочетающие свойства арматуры и высококачественного бетона, востребованные на каждой стадии современного строительства. Армирование бетонных конструкций качественно улучшает показатели их надежности</p>
                </div>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-2.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Изделия «ЗДСК» для одного из лучших в <br> России спинальных центров</a>
                <time class="news-articles__date" datetime="12:00 15-01-22">15 января 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-3.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title"> «ЗДСК» изготовила 30-тонные колонны очень сложной  конфигурации</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="news-post.html" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
            <article class="news-articles__item">
                <img src="img/news/image-4.jpg" alt="" class="news-articles__img">
                <a href="#" class="news-articles__title">Эксперты в области недвижимости высоко оценили работу «ЗДСК»</a>
                <time class="news-articles__date" datetime="12:00 28-04-22">28 апреля 2022</time>
                <a href="#" class="news-articles__btn btn btn--fill">Подробнее</a>
            </article>
        </div>
        <button class="catalog-list__more btn btn--fill" type="button"><span>Показать ещё</span></button>
    </div>
</section>