<div id="popup_1" class="popup popup__one">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#close" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#Close"></use>
                </svg>
            </a>
            <h1 class="popup__title">Производство типовых железобетонных изделий</h1>
            <img class="popup__img" src="img/popups/image-1.jpg" alt="Image">
            <p class="popup__text">Наш завод ЖБИ основан в 2015 году В самом начале мы научились продавать и организовывать логистику для потребителей железобетонных изделий. Затем мы пошли дальше. Что бы ни утонуть в современном, быстроменяющемся рынке ЖБИ изделий, где вытесняются посредники государственными структурами и пожеланиями потребителей, коллективом ООО «ЗДСК» принято решение, об организации производства ЖБИ изделий. Наш завод ЖБИ основан в 2015 году В самом начале мы научились продавать и организовывать логистику для потребителей железобетонных изделий. Затем мы пошли дальше. Что бы ни утонуть в современном, быстроменяющемся рынке ЖБИ изделий, где вытесняются посредники государственными структурами и пожеланиями потребителей, коллективом ООО «ЗДСК» принято решение, об организации производства ЖБИ изделий.</p>
        </div>
    </div>
</div>

<div id="popup_2" class="popup popup__two">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#close" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#Close"></use>
                </svg>
            </a>
            <div class="popup__icon">
                <svg>
                    <use xlink:href="img/sprite.svg#Checked"></use>
                </svg>
            </div>
            <h1 class="popup__title">Плита дорожная 1ДШП12 успешно добавлен в корзину!</h1>
            <div class="popup__buttons">
                <a href="#" class="popup__btn btn btn--fill">ОФОРМИТЬ ЗАКАЗ</a>
                <a href="#" class="popup__btn btn btn--stroke">ПРОДОЛЖИТЬ ПОКУПКИ</a>
            </div>
        </div>
    </div>
</div>