<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Закупки</a>
            </li>
        </ul>
    </div>
</div>
<section class="purchases-info">
    <div class="container">
        <h1 class="purchases-info__title page-title">Закупки</h1>
        <div class="purchases-info__body">
            <div class="purchases-info__row">
                <div class="purchases-info__col">
                    <h2 class="purchases-info__subtitle">Мы закупаем <br> на постоянной <br> основе:</h2>
                    <div class="purchases-info__text">На все материалы требуются <br> паспорта качества!</div>
                </div>
                <div class="purchases-info__col">
                    <ul class="purchases-info__list">
                        <li>Щебень фракции 5—20 (ГОСТ 8267-93)</li>
                        <li>Отсев фракции 0—5 (ГОСТ 8267-93)</li>
                        <li>Металлопрокат и арматуру</li>
                        <li>Портландцемент</li>
                        <li>Услуги транспортных компаний (Борт/тент 20 т)</li>
                        <li>Дизельное топливо</li>
                        <li>Спецодежда и СИЗ</li>
                    </ul>
                    <div class="purchases-info__text mobile">На все материалы требуются <br> паспорта качества!</div>
                </div>
            </div>
            <div class="purchases-info__row">
                <div class="purchases-info__col">
                    <h2 class="purchases-info__subtitle">Приоритет при <br> выборе поставщика:</h2>
                </div>
                <div class="purchases-info__col">
                    <ul class="purchases-info__list">
                        <li>Отсрочка платежа</li>
                        <li>Минимальная цена</li>
                        <li>Возможность доставки</li>
                    </ul>
                </div>
            </div>
            <div class="purchases-info__row">
                <div class="purchases-info__col">
                    <h3 class="purchases-info__caption">Все предложения просим направлять на электронную почту, в теме указать <br> «Для отдела снабжения»</h3>
                </div>
                <div class="purchases-info__col">
                    <ul class="purchases-info__list">
                        <li>ooo.zdsk@bk.ru</li>
                        <li>zdsk.pg@yandex.ru</li>
                        <li>zdsk87@mail.ru</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>