<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__inner">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Вакансии</a>
            </li>
        </ul>
    </div>
</div>
<section class="vacancies">
    <div class="container">
        <h1 class="vacancies__title page-title">Вакансии</h1>
        <div class="vacancies__body">
            <div class="vacancies__item">
                <h3 class="vacancies__pos">Интернет-маркетолог, Директолог</h3>
                <p class="vacancies__desc">Среднее образование и стаж работы 1-3 года <br> Полный рабочий день <br> Полная занятость</p>
                <div class="vacancies__salary">от 40.000 Р</div>
                <a href="position.html" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
            <div class="vacancies__item">
                <h3 class="vacancies__pos">СЕО специалист</h3>
                <p class="vacancies__desc">Неполное среднее образование и без опыта <br> Полный рабочий день <br> Полная занятость</p>
                <div class="vacancies__salary">60.000 — 120.000 Р</div>
                <a href="#" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
            <div class="vacancies__item">
                <h3 class="vacancies__pos">PHP-программист Yii2</h3>
                <p class="vacancies__desc">Компания ЗДСК ищет в <br> команду yii2 разработчика для работы в команде разработки сайтов, CRM, API, личных кабинетов и внутренних.</p>
                <div class="vacancies__salary">от 40.000 Р</div>
                <a href="#" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
            <div class="vacancies__item">
                <h3 class="vacancies__pos">Копирайтер</h3>
                <p class="vacancies__desc">Пишешь красивые статьи? Хочешь, чтобы их публиковали в СМИ и в других интернет порталах? Тогда присылай свое резюме нам на почту</p>
                <div class="vacancies__salary">60.000 — 120.000 Р</div>
                <a href="#" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
            <div class="vacancies__item">
                <h3 class="vacancies__pos">СЕО специалист</h3>
                <p class="vacancies__desc">Неполное среднее образование и без опыта <br> Полный рабочий день <br> Полная занятость</p>
                <div class="vacancies__salary">60.000 — 120.000 Р</div>
                <a href="#" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
            <div class="vacancies__item">
                <h3 class="vacancies__pos">PHP-программист Yii2</h3>
                <p class="vacancies__desc">Компания ЗДСК ищет в <br> команду yii2 разработчика для работы в команде разработки сайтов, CRM, API, личных кабинетов и внутренних.</p>
                <div class="vacancies__salary">от 40.000 Р</div>
                <a href="#" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
            <div class="vacancies__item">
                <h3 class="vacancies__pos">Интернет-маркетолог, Директолог</h3>
                <p class="vacancies__desc">Среднее образование и стаж работы 1-3 года <br> Полный рабочий день <br> Полная занятость</p>
                <div class="vacancies__salary">от 40.000 Р</div>
                <a href="#" class="vacancies__more btn btn--fill">Подробнее</a>
            </div>
        </div>
    </div>
</section>