<section class="workers">
    <div class="container">
        <h2 class="workers__title section-title">Наши сотрудники</h2>
        <div class="workers__body">
            <div class="workers__item">
                <img src="img/workers/image-1.jpg" alt="" class="workers__photo">
                <div class="workers__content">
                    <h3 class="workers__subtitle">Кива <br> Ольга Семёновна</h3>
                    <div class="workers__contacts">
                        <a href="tel:+7 922 206-97-11" class="workers__link workers__link--phone">+7 922 206-97-11</a>
                        <a href="mailto:olga_2580@mail.ru" class="workers__link workers__link--mail">olga_2580@mail.ru</a>
                    </div>
                </div>
            </div>
            <div class="workers__item">
                <img src="img/workers/image-2.jpg" alt="" class="workers__photo">
                <div class="workers__content">
                    <h3 class="workers__subtitle">Гилёва Полина <br> Леонидовна</h3>
                    <div class="workers__contacts">
                        <a href="tel:+7 922 18-18-158" class="workers__link workers__link--phone">+7 922 18-18-158</a>
                        <a href="mailto:zdsk.pg@yandex.ru" class="workers__link workers__link--mail">zdsk.pg@yandex.ru
                        </a>
                    </div>
                </div>
            </div>
            <div class="workers__item">
                <img src="img/workers/image-1.jpg" alt="" class="workers__photo">
                <div class="workers__content">
                    <h3 class="workers__subtitle">Кива <br> Ольга Семёновна</h3>
                    <div class="workers__contacts">
                        <a href="tel:+7 922 206-97-11" class="workers__link workers__link--phone">+7 922 206-97-11</a>
                        <a href="mailto:olga_2580@mail.ru" class="workers__link workers__link--mail">olga_2580@mail.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>